
@{
    ViewData["Title"] = "Show";

    Product product = ViewBag.Product as Product;
}

<h1>@ViewBag.Time</h1>
<h2>@ViewBag.Callback</h2>

<h3>@product.Id</h3>
<h3>@product.Name</h3>
<h3>@product.Price</h3>

